<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>10110096083-jonp1o0mpf51nbv60br1tmrj1p6jlc80.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.10110096083-jonp1o0mpf51nbv60br1tmrj1p6jlc80</string>
	<key>API_KEY</key>
	<string>AIzaSyAva7e1btkWvvshva3-b35KIQ2_NArDiHA</string>
	<key>GCM_SENDER_ID</key>
	<string>10110096083</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Edrisian.Silent-Disco</string>
	<key>PROJECT_ID</key>
	<string>silent-disco-bfb05</string>
	<key>STORAGE_BUCKET</key>
	<string>silent-disco-bfb05.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:10110096083:ios:92abec9b89161d8e</string>
	<key>DATABASE_URL</key>
	<string>https://silent-disco-bfb05.firebaseio.com</string>
</dict>
</plist>